<body class="bg-light">
  <h1 class="title">Welcome to Not-Facebook</h1>

  <div class="container">
    <p>
      <%= @user.full_name %>, welcome to Not-Facebook! We are not Facebook!
    </p>
  </div>
</body>