<%= form_with model: [post, post.comments.build], url: post_comments_path(post) do |f| %>
  <%= f.hidden_field :post_id, value: post.id %>
  <div class="form-group">
    <%= f.text_area :body, required: true, class: "form-conrol", placeholder: "Your comment..." %>
  </div>
  <%= f.submit 'Post comment', class: "btn btn-secondary" %>
<% end %>