<div class="container">
<% if post.likes.any? %>
  <% if post.likes.size == 1 %>
    <em><%= post.likes.size %> like</em>
  <% else %>
    <%= post.likes.size %> likes
  <% end %>  
<% else %>
  <em>0 likes</em>
<% end %>

<% if already_liked?(post)%>
  <%= link_to "Remove Like", post_like_path(post, current_like(post).id), class: "btn btn-info", method: "delete" %>
<% else %>
  <%= link_to "Like", post_likes_path(post), class: "btn btn-info", method: "post" %>
<% end %>
</div>