<h2>people</h2>

<% @users.each do |u| %>
  <div class="container border-top border-dark">
    <%= link_to user_path(u) do %>
      <strong><%= u.full_name %></strong>
    <% end %>
  </div>
<% end %>

<% unless @received_requests.empty? %>
  <h3>friend requests</h3>
  <div class="container">
    <% @received_requests.each do |u| %>
      <%= link_to user_path(u) do %>
        <em><%= u.full_name %></em>
      <% end %>
    <% end %>
  </div>
<% end %>