<p id="notice"><% notice %></p>

<h1 class="title col-md-auto text-center">Posts</h1>
  <%= render 'post_feed', posts: @posts %>
<br>
<%= link_to 'New Post', new_post_path, class: "btn btn-secondary" %>